body{
    font-size: 25px;
    margin: 0;
    padding: 0;
    background-color: #f2f3f5;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: #adadad 0 0 10px;
    background-color: white;
}
.nav h2{
    font-size: 30px;
}
.nav button{
    padding: 10px 15px;
    background-color: white;
    border: #cecece 1px solid;
    font-size: 20px;
    color: #262626;
    border-radius: 5px;
}
.main{
    margin: 0 30px;
}
.mainDiv{
    background-color: white;
    border: #e5e6e8 1px solid;
    width: 700px;
    box-shadow: #f0f0f0 0px 0px 5px;
    padding: 10px 10px;
    margin: 50px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#scoreDiv{
    margin: 15px 0;
    display: flex;
    justify-content: left;
    gap: 5px;
}
.green,.yellow,.red{
    width: 50px;
    height: 5px;
    border-radius: 5px;
}
.green, #Active{
    background-color: #2be200;
}
.yellow, #Warning{
    background-color: #f8de00;
}
.red, #Error{
        background-color: red;
}
#alex{
    width: 20px;
}
.alert{
    font-size: 15px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 5px 15px;
    background-color: #fe0600;
    align-items: center;
    gap: 5px;
    color: white;
    border-radius: 5px;
}
.alert img{
    width: 25px;
    height: 25px;
}
#secondDiv div{
    display: flex;
    justify-content: left;
    gap: 10px;
    align-items: center;
    height: 50px;
}
.status {
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}